<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqyo0uxgCeH_fMvHThzQLWn0PWunVPBH4</string>
	<key>GCM_SENDER_ID</key>
	<string>982102404489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutTracker</string>
	<key>PROJECT_ID</key>
	<string>workouttracker-387f6</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttracker-387f6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982102404489:ios:a096d0bce4b711be2e4558</string>
</dict>
</plist>